section{
  width: 100%;
  height: 100vh;
}
#BACKGROUND{
  background-image: url('./app/assets/mountains.svg');
  background-size: cover;      /* Ajusta la imagen para cubrir todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;/* Evita que se repita la imagen */
  position: absolute;
  height: 50vh;
  top: 0%;
  left: 0%;
  right: 0%;
  border-radius: 0 0 45px 45px;
  z-index: -1;
  display: flex;
}
#WELCOME{
  position: absolute;
  top: 40%;
  background-color: var(--bg-1);
  width: 200px;
  height: 100px;
  padding: 20px;
  border-radius: 0 45px 45px 0 ;
  
}
#BUTTONS{
  position: absolute;
  bottom: 20%;
}
a{
  text-decoration: none;
  padding: 10px;
  border-radius: 9px;
  background-color: #227778;
  color: #fff;
}