#NAVBAR{
    background-color: #000;
    height: 10vh;
    position: fixed;
    right: 2%;
    left: 2%;
    bottom: 2%;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btns{
    border: none;
    background-color: transparent;
}
.btns:active{
    outline: none;
}